body {
    font-family: Inter; /* Семейство шрифтов */
    font-size: 18px; /* Размер основного шрифта в <p></p>  */
    background-color: #5988FF; /* Цвет фона веб-страницы */
    color: #ffffff; /* Цвет основного текста */ 
}
h1 {
    color: #ffffff;
    font-size: 24px;
    font-family: Inter;
}

h2 {
    color: #ffffff;
    font-size: 20px;
    font-family: Inter;
}

h3 {
    color: #ffffff;
    font-size: 18px;
    font-family: Inter;
}

ul {
    color: #ffffff;
    font-size: 18px;
    font-family: Inter;
}

li {
    color: #ffffff;
    font-family: Inter;
}

p {
    color: #ffffff;
    font-size: 18px;
    font-family: Inter;
}
