<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AleksTi Subscride</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
    <img src="https://yt3.ggpht.com/3QH_pish5rLPiGag7JUfAUbVWd0NVChYRtjux-91ezHI2_5RWvKRjLfSCRuNF952iMT4yzWNq1g=s176-c-k-c0x00ffffff-no-rj-mo" alt="Image 1">
    <h1>Подписывайтесь на AleksTi</h1>
    <p>https://youtube.com/@TheAleksTi</p>
    <h2>Снимаю:</h2>
             <ul>
                   <li>Программирование</li>
                   <li>Майнкрафт</li>
             </ul>
    <!-- <img src="..\static\img\енотик.png" alt=""> -->
</body>
</html>