<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AleksTi Subscride</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
    <img src="https://cdn.modrinth.com/user/t7LV04ML/8033b90542aa83ee604e0990bc2a643f070690f1.png" alt="Image 1" width="250" height="250">
    <h1 style="color: #D6FF6B;">Подписывайтесь на AleksTi</h1>
    <p style="color: #FD98FB;">https://youtube.com/@TheAleksTi</p>
    <h2>Снимаю:</h2>
             <ul>
                   <li>Программирование</li>
                   <li>Майнкрафт</li>
             </ul>
    <!-- <img src="..\static\img\енотик.png" alt=""> -->
</body>
</html>